<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello World</h1>
    <button><a href="https://hritik.auth.us-east-1.amazoncognito.com/login?client_id=4vs8taoe7v09n9pt779qu4ptq6&response_type=token&scope=openid+email+profile&redirect_uri=http://localhost:3200/profile">Login/SignUp</a></button>
</body>
</html>